// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors
$my-white: #FBFBFB;
$my-purple: #8D4995;
$my-gray: #A5949F;
$my-red: #992020;
$my-black: #020003;
