.dashboard-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  h2 {
    text-align: center;
  }
}

.new-campaign-button {
  color: black;
  font-size: 2rem;
  padding: 10px;
}

.new-campaign-button:hover {
  color: orange;
  text-decoration: none;
}

.dashboard-container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .link-to {
    text-decoration: none,
  }

  .campaign-card {
    background-color: lightgrey;
    border-radius: 5px;
    border: 1px solid #212227;;

    width: 400px;
    padding: 10px 20px;

    text-align: center;
    color: #212227;
  }

  .campaign-card:hover {
    background-color: #212227;
    color: white;
  }
}
