.results-wrapper {
  padding-top: 20px;

  h2 {
    text-align: center;
  }

  .results-container {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;

    .cards-filters {
      text-align: left;
      padding: 15px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);

      width: 250px;
      height: 100%; // to remove when content in filters
      border: 1px solid grey;
      // background-color: rgba(78, 128, 152, .5);
      background-color: rgba(78, 128, 152, .1);
      border-radius: 5px;

      position: sticky;
      top: 80px;
      z-index: 10;

      .form-group {
        margin: 0;
      }

      h3 {
        font-size: 24px;
        text-align: center;
      }
    }
  }
}

.channels-cards {
  // border: 1px solid grey;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}
