// .channels-wrapper {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
// }

.channel-card {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: lightgrey;
  max-width: 300px;
}

.channel-cards{
  display: flex;
  flex-direction: column;
}

// .campaign-card {
//   display: flex;
//   justify-content: space-evenly;
//   border: 1px solid black;
//   padding: 5px;
//   margin: 10px;
//   border-radius: 5px;

// }
