.home-container {
  background-color: white;
  position: relative;
  overflow: hidden; //--- When content bigger than its box's size
  width: 100vw;
  height: 100vh
}

.form-container {
  position: absolute; //--- Absolute to the home-container
  top: 0;
  width: 37.5%; //--- So that it fully appears when overlay slides
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.2);

  .simple_form {
    width: 60%;
  }
}

.brand-container {
  right: 12.5%;
  z-index: 1;
}

.creator-container {
  left: 12.5%;
  z-index: 1;
}

.overlay-panel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding: 100px 40px;
  color: #ff4b2b;

  z-index: 2;

  transition: transform 0.6s ease-in-out;

  h1 {
    font-family: 'Staatliches', cursive;
    font-size: 88px;
    text-align: center;
  }
}

.overlay-left {
  left: 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80');
  background-size: cover;
  background-position: center;
}

.overlay-right {
  right: 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1473413896661-b611b2098a19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-size: cover;
  background-position: center;
}

.left-panel-active {
  transform: translateX(-75%);
}

.right-panel-active {
  transform: translateX(75%);
}

button {
  border-radius: 40px;
  background-color: transparent;

  font-size: 24px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;

  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95); //--- Makes the button wiggle when clicking on it
}

button:focus {
  outline: none; //--- Prevents blue border from appearing when clicking on it
}

#button-brand {
  border: 1.5px solid white;
  color: lightgrey;
}

#button-brand:hover {
  background-color: white;
  color: black;
}

#button-creator {
  border: 1.5px solid black;
  color: black;
}

#button-creator:hover {
  background-color: black;
  color: white;
}

