<div id="container">

  <div class="accept-contract-form">
  <%= simple_form_for (@contract) do |f| %>
  <h1>Validate your contract</h1>
    <%= f.input :validated, :as => :select, :collection => Contract::STATUS, include_blank: false %>
    <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
  <% end %>
  </div>
</div>

