<%= render 'shared/navbar' %>
<h1>Contracts#index</h1>

<% if current_user.is_brand == true %>
<%= render 'shared/brand_contracts' %>
<% else %>
<%= render 'shared/creator_contracts' %>
<% end %>


</div>
