<h1>New Contract</h1>

  <form action="/contracts" method="post">
  Name:
  <input type="string" name="name">
  Description:
  <input type="text" name="Description">
  Address:
  <input type="text" name="Address">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <input type="hidden" name="chat_room_id" value="<%= @chat_room.id %>"/>
  <button type="submit">Submit</button>
  </form>
  <%= link_to "Cancel", dashboard_path, class: "btn btn-danger w-100 my-2" %>
