<h1>WELCOME TO BRAND DASHBOARD</h1>
  <p>
  <% @campaigns.each do |campaign| %>
  <%= link_to campaign.name, campaign_path(campaign) %>
  <%= campaign.interests.map(&:name).join(",") %>
  <% end %>
  </p>
<%= link_to "NEW CAMPAIGN", new_campaign_path, class: 'btn btn-primary' %>


