<%= render 'shared/navbar' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1556764900-fa065610b0e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>SponsOp</h1>
    <p>Connecting brands and content creators</p>
  </div>
</div>

<div class="container cards-container text-center">
  <h2> As a brand representative </h2>

  <div class="row justify-content-center">

    <div class="col-sm-3">
      <div class="card-home">
        <div class="card-home-icon">
          <img src="https://img.icons8.com/wired/64/000000/search.png">
        </div>
        <div class="card-home-content">
          <h3>Transparency</h3>
          <p>Find the <strong>most relevant</strong>  content creators for your
          brand with complete <strong>transparency</strong> on their profile (audience statistics, portfolio, past reviews, etc.)</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card-home">
        <div class="card-home-icon">
          <img src="https://img.icons8.com/wired/64/000000/handshake.png">
        </div>
        <div class="card-home-content">
          <h3>Collaboration</h3>
          <p>Get in touch <strong>directly</strong> with the content creators of your choice, agree on the terms of the collaboration, and <strong>close deals</strong> faster than ever</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card-home">
        <div class="card-home-icon">
          <img src="https://img.icons8.com/wired/64/000000/statistics.png">
        </div>
        <div class="card-home-content">
          <h3>Tracking</h3>
          <p>Assess the <strong>impact</strong> of your different partnerships in real time (impressions, likes, comments, etc.) and track the <strong>conversion rate</strong> of your advertising campaigns</p>
        </div>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="container partners-container text-center">
  <h2>They trust SponsOp</h2>

  <div class="brand-logo-container">
    <img alt="#" src="https://dl.be/uploads/2019/08/icon-512x512.png">
    <img alt="#" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/ICE-WATCH-logo.svg/315px-ICE-WATCH-logo.svg.png">
    <img alt="#" src="https://www.schoenenverduyn.be/Cached/108052/resize/2000x400/Veja.png">
    <img alt="#" src="https://seeklogo.com/images/C/Cote_d_Or-logo-29637A7AF2-seeklogo.com.png">
    <img alt="#" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Nivea_Logo.png/776px-Nivea_Logo.png">
  </div>
</div>

<hr>

<div class="container cards-container text-center">
  <h2> As a content creator </h2>

  <div class="row justify-content-center">

    <div class="col-sm-3">
      <div class="card-home">
        <div class="card-home-icon">
          <img src="https://img.icons8.com/dotty/80/000000/money.png">
        </div>
        <div class="card-home-content">
          <h3> Earn Money </h3>
          <p> Get contacted by the most relevant brands for your audience with complete transparency on what they have to offer ( campaign, audience, portfolio, reviews)</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card-home">
        <div class="card-home-icon">
          <img src="https://img.icons8.com/wired/64/000000/statistics.png">
        </div>
        <div class="card-home-content">
          <h3> Collaborate </h3>
          <p> Discuss directly with the brand and agree on the terms of the collaboration</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card-home">
        <div class="card-home-icon">
          <img src="https://img.icons8.com/ios/80/000000/person-growth.png">
        </div>
        <div class="card-home-content">
          <h3> Proffesional growth </h3>
          <p> Turn your passion into a business by connecting you with brands looking to create amazing branded content.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="container testimonials-container text-center">
  <h2> What they say about SponsOp </h2>

  <div class="testimonial">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <div class="notification-content p-2">
      <h5>Antoine - Product Manager at Côte d’Or</h5>
      <p>SponsOp was the platform we were waiting for, we connected with 10 content creators and our Summer 2019 Campaign in Rome went crazy! The possibility to connect directly with creators sharing the same audience as us made a drastic difference in the conversion rate of our advertising campaign.</p>
    </div>
  </div>

  <div class="testimonial">
    <img src='https://i4.sndcdn.com/artworks-000161972087-ges84i-t120x120.jpg' class="avatar-large"/>
    <div class="notification-content p-2">
      <h5>Geraldine - CEO at ICE WATCH</h5>
      <p>Thanks to SponsOp we exceeded our marketings goals for the semester. The clear interface and the easiness to navigate through the most relevant content creators for Ice Watch is the real added value of this platform.</p>
    </div>
  </div>

  <div class="testimonial">
    <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
    <div class="notification-content p-2">
      <h5>Arnaut - Shoes Influencer</h5>
      <p>With SponsOp I paired up with Veja for their last shoe collection and everything went smooth. I set my post rate, they accepted, they sent me their items and I shared it with my community, and everybody loved it.</p>
    </div>
  </div>
</div>

<!-- <div class="container about-container">
  <div class="row">
    <div class="col-sm-4">
      <div class="video"></div>
    </div>

    <div class="col-sm-4">
      <div class="video"></div>
    </div>

    <div class="col-sm-4">
      <div class="video"></div>
    </div>
  </div>
</div> -->

<%= render 'shared/footer' %>

<%= javascript_pack_tag 'home' %>
