
.column{
  width: 33.33%;
  padding: 0 10px;
  height: auto;
  display: flex;
  text-align: center;
}

.features{
  padding: 100px;
}

.row{
  margin: 0 -5px;
}

.card-info {
  padding: 70px;
  width: 100%;
  background-color: white;
  text-align: center;
}
