.wrapper-messenger {
  width: 900px;
  height: 85vh;

  overflow: scroll;

  margin: 0 auto;
  padding-top: 20px;

  display: flex;

  .container-messenger {
    padding-top: 10px;
  }
}

.chatroom-link, .chatroom-link:hover {
  text-decoration: none;
  color: black;
}

.chatroom {
  display: flex;
  align-items: center;
  border: .5px solid lightgrey;
  border-radius: 1px;
  // background-color: orange;
  padding: 15px 10px;
  width: 350px;

  p {
    margin: 0;
    margin-left: 15px;
    font-size: 18px;
  }
}

.chatroom-bg-blue {
  background-color: rgba(65, 133, 244, .5);
}

.container-chatroom {
  height: auto;
  width: 550px;
  // background-color: red;
}
