.message-container{
  width: 550px;
  margin: 0 auto;
}

.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.message {
  display: flex;
  justify-content:stretch;
  margin-bottom: 10px;

  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
      // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
  }
}

.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}

#create-message {
  margin-top: 15px;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.message_content {
  margin-bottom: 0;
  border-radius: 30;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;

  &:focus {
    outline: none;
    border: 1px solid blue;
  }
}

.chat-header {
  text-align:center;
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h4 {
    margin: 0;
  }
}

.button {
  margin-top: 10px;
}
